/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
/* common styles or utilities*/
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container {
  background: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 20px ;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 23px;
}
/* top players style */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
/*---------------------------
------------ Top Blogs --------------
---------------------------*/
.top-blogs .section-title {}
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
}
.thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.blog-title {
    font-size: 20px;
}
.author-name {
    font-size: 16px;
    color: #9F9F9F;
}
.author-name a {
    text-decoration: none;
    color: #562EFF;
}
/*---------------------
     Courses Styles
-------------------- */
.courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 23px;
}
.course {
    width: 252px;
    height: 269px;
    border-radius: 15px;
    padding: 15px 12px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-author {
    font-family: roboto;
    font-size: 14.69px;
    color: #ED6B4F;
}
.course-info {
    display: flex;
    align-items: center;
}
.course-info .fill{
    color: #FFC014;
    font-size: 12.25px;
}
.course-info .empty{
    color: #AEAEAE;
    opacity: 0.25;
    font-size: 12.25px;
}
.course-duration {
    margin-left: 25px;
    font-size: 16px;
    color: #FF4A60;
    background: #FFE4E8;
    border-radius: 14.6913px;
    padding: 4.01px 5.34px;
}
